main {
    text-align: center;
}

h4.utc-time {
    color: #3771A1;
}
.home-header{
    background-color: var(--our_cream,#ffffff);
}
.adddiv{
    height: 200px;
    background-color:#79ff79 ;
    float:right;
    width: 25%;
    vertical-align: middle;
    border-radius: 10px;


}
.addbutton{
    font-size: 4em;
    font-weight: 900;
    margin:0 auto;
    padding:60px;
}