<%inherit file="base.htm" />

<%block name="content">
    %if request.user.is_authenticated:
    <div>
        <form method="POST">
            ${csrf_input}
            <input type='text' placeholder="Title of Creation" name='title' />
            <input type='text' placeholder="Description of Creation" name='description' />
            <select name="category" onchange="forminput(this.value)">
                <option value="t">Text (Story, Poem, Ect.)</option>
                <option value="i">Image (Drawing,Painting,Ect)</option>
            </select>
            <input id="text" type='text' placeholder="Text" name='text' style="display:none;" />
            <input id="image" type='file' accept="image/*" placeholder="Text" name='image' style="display:none;" />
            <button type='submit' enabled='false'>Share your Creation!</button>
        </form>
    </div>
    <script>
        function forminput(category){
            if(category === "t"){
                var text = document.getElementById("text")
                var image = document.getElementById("image")
                image.style.display = "none";
                text.style.display = "block";
                text.value = ""
                image.value = ""
            }
            else if(category === "i"){
                var text = document.getElementById("text")
                var image = document.getElementById("image")
                image.style.display = "block";
                text.style.display = "none"; 
                text.value = ""
                image.value = ""
            }
        }
    </script>
    %endif
</%block>
