## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>Get Creative</title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        ${ django_mako_plus.links(self) }

    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light nav-red">
                <a class="navbar-brand" href="#">Get Creative</a>
                <ul class="nav-links">
                    <li class="nav-link">
                        <a href="#">Explore</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Categories</a>
                    </li>
                    %if not user.is_authenticated:
                    <li class="nav-link">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    %else:
                    <li class="nav-link">
                        <a href="#">Profile</a>
                    </li>
                    %endif
                </ul>
            </nav>
        <main>
            <%block name="content">
                Site content goes here in sub-templates.
            </%block>
        </main>



    </body>
</html>
