<%inherit file="base.htm" />

<%block name="content">
%if user.is_authenticated:
<div class="container" style="height:300px;">
    <div class="col-md-3 offset-left-9 adddiv">
            <h1 class="addbutton">+</h1>
    </div>
</div>
%endif
    %if not user.is_authenticated:
    <header class="container home-header justify-center">

        <div class="col-md-6 offset-3">

            <h1>Time to get creative!</h1>
            <h3>Get creative is the perfect platform to submit your art, paintings, music, code, or anything else you create.</h3>
        </div>
    </header>
    %endif
</%block>
