<%inherit file="base.htm" />

<%block name="content">
    <header class="container home-header justify-center">
        <div class="col-md-6 offset-3">
            <form method="POST">
                ${csrf_input}
                ${form}
                <button type="submit" class="btn btn-info">Log In</button>
            </form>
            <h3>Not a member? Sign up <a href="/register">here</a></h3>
        </div>
    </header>
</%block>
