<%inherit file="base.htm" />

<%block name="content">
    <header class="container home-header justify-center">
        %if not request.user.is_authenticated:
        <div class="col-md-6 offset-3">
            <form method="POST">
                ${csrf_input}
                ${form}
                <button type="submit" class="btn btn-info">Sign Up</button>
            </form>
        </div>
        %else:
        <h1>You are logged in, log out to register a new account
        </h1>
        %endif
    </header>
</%block>
